.u-section-1 .u-sheet-1 {
  min-height: 816px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 768px;
  margin: 16px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 132px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-line-1 {
  width: 50px;
  height: 0;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-3 {
  padding: 4px 30px;
}

.u-section-1 .u-line-2 {
  width: 50px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 64px auto -26px 0;
}

.u-section-1 .u-image-1 {
  height: 359px;
  margin-top: 40px;
  margin-bottom: 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 145px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 196px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-layout-wrap-1 {
  width: 848px;
  margin: -18px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 213px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 198px;
  height: 198px;
  background-image: url("images/214287232-0.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 213px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 387px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 17px 226px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 17px 226px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 17px 226px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 17px 226px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 320px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 26px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 26px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 26px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 132px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 948px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 738px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 213px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-image-1 {
  width: 198px;
  height: 198px;
  background-image: url("images/pexels-photo-3434523.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 213px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 24px -29px 0 30px;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 585px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-text-14 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-15 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-text-17 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-18 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  margin: 15px 226px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 485px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 26px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 26px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 26px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 26px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 26px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 132px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 767px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 848px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 213px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-4 .u-image-1 {
  width: 198px;
  height: 198px;
  background-image: url("images/Crust_Rustica1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 213px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 404px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 17px 226px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 17px 226px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 17px 226px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  margin: 22px 15px 0 0;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 17px 226px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 334px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 26px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 26px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 26px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 132px;
  }
}